%table.inspector
  %caption Nodes
  %thead
    %tr
      %th.name
        Name
      %th.params
        Params
      %th.groups
        Groups
      %th.classes
        Classes
  %tbody
    - nodes.each do |node|
      %tr[node]{:class => "#{'active' if node == @node}"}
        %td.name
          = link_to h(node.name), [parent, node], :rel => 'inspect'
        %td.params
          = node.parameters.size
        %td.groups
          = node.node_groups.size
        %td.classes
          = node.node_classes.size
  %tfoot
    %tr.actions
      %td{:colspan => 4}
        = link_to "<span class='indicator'></span>Add new", new_node_path, :class => "add button"
