%table.inspector
  %caption
    Nodes
    %span.count== (#{@nodes.total_entries})
  %thead
    %tr
      %th.name
        Name
      %th.params
        Params
      %th.groups
        Groups
      %th.classes
        Classes
  %tbody
    - @nodes.each do |n|
      %tr[n]{:class => "#{'active' if n == @node}"}
        %td.name
          = link_to h(n.name), [parent, n], :rel => 'inspect'
        %td.params
          = n.parameters.size
        %td.groups
          = n.node_groups.size
        %td.classes
          = n.node_classes.size
  %tfoot
    %tr.actions
      %td{:colspan => 4}
        = will_paginate(@nodes)
    %tr.actions
      %td{:colspan => 4}
        = link_to "<span class='indicator'></span>Add new", new_node_path, :class => "add button"
