.header.element
  = form.label :name
  = form.text_field :name
.element
  = form.label :description
  = form.text_area :description, :rows => 4

.element.node-group-parameters
  %label Parameters
  = link_to_function('<span class="indicator"></span> Add new', :class => "add button") { |page|  page.insert_html :bottom, 'parameters', :partial => 'parameter_input', :object => [] }
  
  %table#parameters.inspector
    %thead
      %tr
        %th.key Key
        %th.value Value
    %tbody
      - if form.object.parameters.blank?
        = render :partial => 'parameter_input', :object => []
      - else
        = render :partial => 'parameter_input', :collection => form.object.parameters.to_a

.element#node-groups
  = form.label "Node Groups"
  = inspector_table @node.node_groups, :name, :description, :long => true

.element#available-node-groups
  = form.label "Available Groups"
  = inspector_table @node.available_node_groups, :name, :description, :long => true

- unless @node.node_classes.blank?
  .element#node-classes
    = form.label "Node Classes"
    = inspector_table @node.node_classes, :name, :description, :long => true

- unless @node.available_node_classes.blank?
  .element#available-node-classes
    = form.label "Available Classes"
    = inspector_table @node.available_node_classes, :name, :description, :long => true

- unless @node.inherited_classes.blank?
  .element#inherited-node-classes
    %label Inherited Classes
    = inspector_table @node.inherited_classes, :name, :description, :long => true
