.header.element
  = form.label :name
  = form.text_field :name

= form.error_messages

.element
  = form.label :description
  = form.text_area :description, :rows => 4

.element.node-group-parameters
  %label Parameters
  = link_to_function('<span class="indicator"></span> Add new', :class => "add button") { |page|  page.insert_html :bottom, 'parameters', :partial => 'parameter_input', :object => form.object.parameters.build }

  %table#parameters.inspector
    %thead
      %tr
        %th.key Key
        %th.value Value
    %tbody
      - if form.object.parameters.blank?
        = render :partial => 'parameter_input', :object => form.object.parameters.build
      - else
        = render :partial => 'parameter_input', :collection => form.object.parameters

.element#node-groups
  = form.label "Node Groups"
  %table.inspector
    %thead
      %tr
        %th.key Name
        %th.value Description
    %tbody
      - form.object.node_groups.each do |group|
        %tr[group]
          %td.key= link_to group.name, group
          %td
            %div
              = group.description
              .popup-actions
                %a.delete{:href => '#'}
                  %span (delete)

.element#available-node-groups
  = form.label "Available Groups"
  .table-tools
    - form_tag do
      = text_field_tag :search, '', :class => 'filter-list', :autocomplete => 'off', :type => "search"
    = link_to "<span class='indicator'></span>Add new", new_node_group_path, :class => "add button", :rel => 'inspect'
  %table.inspector
    %thead
      %tr
        %th.key Name
        %th.value Description
    %tbody
      - form.object.available_node_groups.each do |group|
        %tr[group]
          %td.key= link_to group.name, group
          %td
            %div
              = group.description
              .popup-actions
                %a.add{:href => '#'}
                  %span (add)

.element#node-classes
  = form.label "Node Classes"
  = inspector_table @node.node_classes, :name, :description, :link => true

.element#available-node-classes
  = form.label "Available Classes"
  .table-tools
    - form_tag do
      = text_field_tag :search, '', :class => 'filter-list', :autocomplete => 'off', :type => "search"
    = link_to "<span class='indicator'></span>Add new", new_node_group_path, :class => "add button", :rel => 'inspect'
  = inspector_table @node.available_node_classes, :name, :description, :link => true

.element#inherited-node-classes
  %label Inherited Classes
  = inspector_table @node.inherited_classes, :name, :description, :link => true
