.header.element
  = form.label :name
  = form.text_field :name

= form.error_messages

.element
  = form.label :description
  .textarea
    = form.text_area :description, :rows => 4

.table-tools.head
  %h3 Parameters
  = link_to_function("<span class='indicator'></span>Add", :class => "add button") { |page|  page.insert_html :bottom, 'parameters', :partial => 'parameter_input', :object => form.object.parameters.build }
  %div{:style => 'clear:both;'}
%table#parameters.inspector
  %thead
    %tr
      %th.key Key
      %th.value Value
  %tbody
    - if form.object.parameters.blank?
      = render :partial => 'parameters/parameter_input', :object => form.object.parameters.build
    - else
      = render :partial => 'parameters/parameter_input', :collection => form.object.parameters

#node-groups
  %table.inspector
    %caption Node Groups
    %thead
      %tr
        %th.key Name
        %th.value{:colspan => 2} Description
    %tbody
      - form.object.node_groups.each do |group|
        %tr[group]
          %td.key= link_to group.name, group
          %td
            = group.description
            = hidden_field_tag 'node[node_groups][]', group.id
          %td.actions
            %a.icon.delete{:href => '#'}
              %span (delete)
    %tfoot#available-node-groups
      %tr
        %td{:colspan => 3}
          - form_tag do
            = text_field_tag :search, '', :class => 'node-group-search', :autocomplete => 'off', :type => "search"

#node-classes
  %table.inspector
    %caption Node Classes
    %thead
      %tr
        %th.key Name
        %th.value{:colspan => 2} Description
    %tbody
      - form.object.node_classes.each do |node_class|
        %tr[node_class]
          %td.key= link_to node_class.name, node_class
          %td
            %div
              = node_class.description
              .popup-actions
                %a.delete{:href => '#'}
                  %span (delete)
    %tfoot#available-node-classes
      %tr
        %td{:colspan => 3}
          - form_tag do
            = text_field_tag :search, '', :class => 'node-class-search', :autocomplete => 'off', :type => "search"

- unless form.object.inherited_classes.empty?
  #inherited-node-classes
    = inspector_table form.object.inherited_classes, :name, :description, :link => true, :caption => 'Inherited Classes'
