.header
  = form.label :hostname
  = form.text_field :name

= form.error_messages

= form.label :description
.textarea
  = form.text_area :description, :rows => 4

%table#parameters.inspector
  %caption
    Parameters
    = link_to_function("<span class='indicator'></span>Add", :class => "add button") { |page|  page.insert_html :bottom, 'parameters', :partial => 'parameters/parameter_input', :object => form.object.parameters.build }
  %thead
    %tr
      %th.key Key
      %th.value Value
  %tbody
    - if form.object.parameters.blank?
      = render :partial => 'parameters/parameter_input', :object => form.object.parameters.build
    - else
      = render :partial => 'parameters/parameter_input', :collection => form.object.parameters

