- nodes = paginate_scope(local_assigns[:nodes])
- more_link = local_assigns[:more_link]

%table.main
  %thead
    %tr
      -# %th.check
        -# = check_box_tag "check_all"
      %th.status
      %th.hostname
        Hostname
      %th.latest_report.desc
        &darr; Latest report
  %tbody
    - if nodes.present?
      - for node in nodes
        %tr[node]{:class => "#{'active' if node == @node}"}
          -# %td.check
            -# = check_box_tag dom_id(node)
          %td.status{:class => node.status_class}
            %span{:title => node_title_text(node)}
              = node_status_icon(node)
          %td.hostname
            = link_to h(node.name), node
          %td.latest_report
            = node.last_report ? node.last_report.time.to_s : "Has not reported"
      = pagination_for nodes, more_link
    - else
      %td.empty{:colspan => 3}
        = describe_no_matches_for :nodes
