%table.main
  %thead
    %tr
      %th.check
        = check_box_tag "check_all"
      %th.status
      %th.hostname
        Hostname
      %th.latest_report.desc
        &darr; Latest Report
  %tbody
    - nodes.each do |n|
      %tr[n]{:class => "#{'active' if n == @node}"}
        %td.check
          = check_box_tag dom_id(n)
        %td.status{:class => n.status_class}
          %span{:title => node_title_text(n)}
            = n.reported_at ? n.last_report.success? ? '&#10004;' : '&#10008;' : '?'
        %td.hostname
          = link_to h(n.name), n
        %td.latest_report
          = n.last_report ? n.last_report.time.to_s(:long) : "Has not reported"
= pagination_for nodes
