.table-tools
  - form_tag do
    = text_field_tag :search, '', :class => 'filter-list', :autocomplete => 'off', :type => "search"
  = link_to "<span class='indicator'></span>Add new", new_node_group_path, :class => "add button", :rel => 'inspect'
    
%table.inspector
  %thead
    %tr
      %th.name
        Name
      %th.params
        Params
      %th.groups
        Groups
      %th.classes
        Classes
  %tbody
    - collection.each do |node|
      %tr[node]{:class => "#{'active' if node == @node}"}
        %td.name
          = link_to h(node.name), node, :rel => 'inspect'
        %td.params
          = node.parameters.size
        %td.groups
          = node.node_groups.size
        %td.classes
          = node.node_classes.size
