%h2 Edit Node

.errors
  = error_messages_for(:node)
- form_for @node do |f|
  %label{ :for => 'node_name' } Name
  %br
  = f.text_field :name
  %br
  %br
  %label{ :for => 'node_description' } Description
  %br
  = f.text_area  :description
  %br
  %br
  
  .node-parameters
    %label Parameters
    %br
    %ul#parameters
      - if @node.parameters.blank?
        = render :partial => 'parameter_input', :object => []
      - else
        = render :partial => 'parameter_input', :collection => @node.parameters.to_a
    %br
    = link_to_function('Add Another Parameter') { |page|  page.insert_html :bottom, 'parameters', :partial => 'parameter_input', :object => [] }
    %br
    %br
    = f.submit 'Edit'

#node-classes
  %h3 Classes
  #associated-classes
    %ul
      - @node.services.each do |service|
        %li= link_to service.name, disconnect_service_node_path(service, @node)
  #available-classes    
    %ul
      - (@available_services || []).each do |service|
        %li= link_to service.name, connect_service_node_path(service, @node)

= link_to 'Cancel', @node
