#sidebar= render 'shared/node_manager_sidebar'
#main

  .header
    %h2.half== #{action_name.titleize unless action_name == 'index' } Nodes
    = render 'search'
    %br.clear

  .item{:style => 'margin-bottom: 0;'}
    .section
      = render 'statuses/run_failure', :nodes => @nodes
    .section
      = render 'nodes', :nodes => @nodes
