#sidebar= render :partial => 'shared/node_manager_sidebar'
#main

  .header
    %h2.half Search nodes
    %br.clear

  .item
    .section
      = form_for url_for(:action => :search), :method => :get, :id => "search_params" do |form|
        = render :partial => 'parameters/parameter_input', :object => @search_params, :locals => { :entity_name => 'search criteria', :comparators => @comparators }
        %button#search_button Search

    - if @nodes
      .section
        = render :partial => 'statuses/run_failure', :locals => { :nodes => @nodes }
      .section
        %h3 Nodes
        = render :partial => 'nodes/nodes', :locals => { :nodes => @nodes }
