#sidebar= render 'shared/node_manager_sidebar'
#main
  .header
    %h2
      = node_status_icon(resource)
      = h resource.name
    %ul.actions
      %li= link_to 'Edit', edit_node_path(@node), :class => "edit button", :rel => 'inspect'
      %li= link_to 'Destroy', @node, :confirm => 'Are you sure?', :method => :delete, :class => "delete button"
  .item
    - unless resource.description.blank?
      .description= simple_format h(resource.description)

    -# Conflicting parameters are okay here, since we just want to warn
    - if resource.compiled_parameters(true).present?
      - if resource.errors.on(:parameters)
        %p.error
          %strong Warning:
          The following parameters have multiple conflicting values:
          = [*resource.errors.on(:parameters)].join(", ")
      = inspector_table resource.compiled_parameters(true), :key, :value, :link => false, :caption => 'Parameters'
        

    .section.half
      %h3 Groups
      - unless resource.node_groups.empty?
        = inspector_table resource.node_groups, :name, false, :link => true
      - else
        &mdash; No groups &mdash;

    .section.half
      %h3 Classes
      - unless resource.node_classes.empty?
        = inspector_table resource.node_classes, :name, false, :link => true
      - else
        &mdash; No classes &mdash;

    - unless resource.inherited_classes.empty?
      = inspector_table resource.inherited_classes, :name, false, :link => true, :caption => 'Inherited Classes'


    %br.clear

    - reports = @node.reports.limit(30).order('time ASC')
    - unless reports.empty?
      .section
        = render 'statuses/run_failure', :node => @node

      .section
        = render 'statuses/run_time', :reports => reports.reverse

      .section
        %h3
          Recent reports
          %span.count== (#{@node.reports.count})
          - reports_limit = 10
        %table.inspector
          %thead
            %tr
              %th.status
              %th Reported at
              %th Total
              %th Failed
              %th Runtime
          %tbody
            - @node.reports.limit(reports_limit).each do |report|
              %tr
                = report_status_td(report)
                %td= link_to report.time.to_s, report
                %td= report.total_resources
                %td= report.failed_resources
                %td= report.total_time
          %tfoot
            %tr
              %td{:colspan => @node ? 8 : 7}
                .actionbar
                  - if @node.reports.count > reports_limit
                    = link_to "More &raquo;", reports_node_path(@node), :class => 'button'
                  - else
                    &nbsp;

    .section
      %h3 Dashboard activity
      - unless resource.timeline_events.empty?
        %ol.timeline= render resource.timeline_events.recent(10)
      - else
        &mdash; No activity &mdash;

    %br.clear
