- content_for :primary_content do
  = render :partial => 'collection'

.header
  %h2== Node '#{h @node.name}'
  %ul.actions
    %li= link_to 'Edit', edit_node_path(@node), :class => "edit button", :rel => 'inspect'
    %li= link_to 'Destroy', @node, :confirm => 'Are you sure?', :method => :delete, :class => "delete button"


- unless @node.description.blank?
  .description= simple_format h(@node.description)

- begin
  - unless @node.compiled_parameters.blank?
    %h3 
      Parameters
      %span.count==(#{@node.compiled_parameters.size})
    = inspector_table @node.compiled_parameters, :key, :value, :link => false
- rescue NodeGroupCycleError => error
  %h3 Parameters
  %p.error
    %strong Warning:
    There appears to be a problem with your node groups.
    = error.message
    

- unless @node.node_groups.empty?

  %h3
    Node Groups
    %span.count==(#{@node.node_groups.size})
  = inspector_table @node.node_groups, :link => true

- unless @node.node_classes.empty?

  %h3
    Node Classes
    %span.count==(#{@node.node_classes.size})
  = inspector_table @node.node_classes, :link => true

- unless @node.timeline_events.empty?
  %h3 Activity
  %ol.timeline= render @node.timeline_events
