- content_for :primary_content do
  = render :partial => 'collection'

.header
  %h2== Node '#{h @node.name}'
  %ul.actions
    %li= link_to 'Edit', edit_node_path(@node), :class => "edit button", :rel => 'inspect'
    %li= link_to 'Destroy', @node, :confirm => 'Are you sure?', :method => :delete, :class => "delete button"


- unless @node.description.blank?
  .description= simple_format h(@node.description)

- unless @node.parameters.blank?
  %h3 
    Parameters
    %span.count==(#{@node.parameters.size})
  = inspector_table @node.parameters, :key, :value, :link => false

- unless @node.node_groups.empty?

  %h3
    Node Groups
    %span.count==(#{@node.node_groups.size})
  = inspector_table @node.node_groups

- unless @node.node_classes.empty?

  %h3
    Node Classes
    %span.count==(#{@node.node_classes.size})
  = inspector_table @node.node_classes

- unless @node.timeline_events.empty?
  %h3 Activity
  %ol.timeline= render @node.timeline_events
