#sidebar= render 'shared/node_manager_sidebar'
#main
  .header
    %h2
      = node_status_icon(@node)
      Node:
      = h @node.name
      %span.alt= "(hidden)" if @node.hidden
    - unless SETTINGS.enable_read_only_mode || session['ACCESS_CONTROL_ROLE'] == 'READ_ONLY'
      %ul.actions
        %li= link_to 'Edit', edit_node_path(@node), :class => "edit button", :rel => 'inspect'
        - if @node.hidden
          %li= link_to 'Unhide', unhide_node_path(@node), :class => "hide button", :method => :put
        - else
          %li= link_to 'Hide', hide_node_path(@node), :class => "hide button", :method => :put
        %li= link_to 'Delete', @node, :confirm => 'Are you sure you wish to delete this node?', :method => :delete, :class => "delete button"
  .item
    - Registry.each_callback :core, :node_view_widgets do |widget|
      = widget.call self, @node
