- content_for :primary_content do
  = render :partial => 'collection'

.header
  %h2= h @node.name
  %ul.actions
    %li= link_to 'Edit', edit_node_path(@node), :class => "edit button", :rel => 'inspect'
    %li= link_to 'Destroy', @node, :confirm => 'Are you sure?', :method => :delete, :class => "delete button"


- unless @node.description.blank?
  .description= simple_format h(@node.description)

- begin
  - unless @node.compiled_parameters.blank?
    = inspector_table @node.compiled_parameters, :key, :value, :link => false, :caption => 'Parameters'
- rescue NodeGroupCycleError => error
  %h3 Parameters
  %p.error
    %strong Warning:
    There appears to be a problem with your node groups.
    = error.message
    

- unless @node.node_groups.empty?
  = inspector_table @node.node_groups, :link => true, :caption => 'Groups'

- unless @node.node_classes.empty?
  = inspector_table @node.node_classes, :link => true, :caption => 'Classes'

- unless @node.inherited_classes.empty?
  = inspector_table @node.inherited_classes, :link => true, :caption => 'Inherited Classes'

- unless @node.timeline_events.empty?
  .element
    %h3 Activity
    %ol.timeline= render @node.timeline_events.recent(10)

%table.inspector
  %caption Reports
  %thead
    %tr
      %th Reported at
      %th Total
      %th Failed
      %th Skipped
      %th Runtime
  %tbody
    - @node.reports.each do |rpt|
      - report = rpt.parsed
      %tr
        %td= link_to report.time.to_s(:long), rpt
        %td= report.metrics["resources"][:total]
        %td= report.metrics["resources"][:failed]
        %td= report.metrics["resources"][:skipped]
        %td= "%0.2f" % report.metrics["time"][:total]
