- nodes = local_assigns[:nodes]
- node = local_assigns[:node]
- args = {}
- args[:node] = node if node
- args[:nodes] = nodes if nodes
- statuses = Status.within_daily_run_history(args)

%h3 Daily run status
%p.legend Number and status of runs during the <strong>last #{SETTINGS.daily_run_history_length} days</strong>:

- if statuses.present?
  %table.inspector.data.status.bar
    %thead
      %tr.labels
        - statuses.each do |status|
          %th= status.start.to_s(:date)
    %tbody
      %tr.unchanged
        - statuses.each do |status|
          %td= status.unchanged
      %tr.changed
        - statuses.each do |status|
          %td= status.changed
      %tr.pending
        - statuses.each do |status|
          %td= status.pending
      %tr.failed
        - statuses.each do |status|
          %td= status.failed
- else
  %p 
    = describe_no_matches_as 'No runs found to report'
