%tr{:class => "puppet_log puppet_log_level_#{log.level}"}
  %td.level
    %code= h log.level
  %td
    %pre
      %code= h log.message
  %td.wrap= h wrap_on_slashes(log.source)
  %td.wrap= h wrap_on_slashes(log.file)
  %td.wrap= h log.line
  %td.wrap= h log.time
