%tr{:class => "puppet-log puppet-log-level-#{log.level}"}
  %td.level
    %code= h log.level
  %td
    %code= h log.message
  %td
    %code= h log.source
  %td
    %code= wrap_on_slashes(log.file)
  %td
    %code= h log.line
  %td.nowrap
    %code= log.time
