#sidebar= render 'shared/node_manager_sidebar'
#main
  .header
    %h2.half
      Classes
      = describe_search_if_present
    = render 'shared/search' if action_name == "index"
    %br.clear

  .item
    - if @node_classes.present?
      %table.main
        %thead
          %tr
            %th.name{:style => 'width: 33%;'}
              Name
            %th.description
              Description
        %tbody
          - for node_class in @node_classes
            %tr[node_class]
              %td.name
                = link_to h(node_class.name), node_class
              %td.description
                = node_class.description
        %tfoot
          %tr
            %td{:colspan => 2}
              = pagination_for @node_classes
    - else
      %p
        = describe_no_matches_for :classes

    %br.clear
