#sidebar= render 'shared/node_manager_sidebar'
#main
  .header
    %h2.half
      Classes
      = describe_search_if_present
    = render 'shared/search' if action_name == "index"
    %br.clear

  %table.main
    %thead
      %tr
        %th.name
          Name
    - if @node_classes.present?
      %tbody
        - for node_class in @node_classes
          %tr[node_class]
            %td.name
              = link_to h(node_class.name), node_class
      %tfoot
        %tr
          %td= pagination_for @node_classes
    - else
      %tbody
        %tr
          %td
            = describe_no_matches_for :classes
