#sidebar= render 'shared/node_manager_sidebar'
#main
  .header
    %h2= @node_class.name
    %ul.actions
      %li= link_to 'Edit', edit_node_class_path(@node_class), :class => "edit button in-place"
      %li= link_to 'Destroy', @node_class, :confirm => 'Are you sure?', :method => :delete, :class => "delete button"
  .in-place
    -form_for @node_class do |f|
      .header
        = f.text_field :name
        %ul.actions
          %button Save
          %li= link_to 'Cancel', @node_class, :class => 'button'

  .item
    - if @node_class.nodes.present?
      .section
        = render 'statuses/run_failure', :nodes => @node_class.nodes
    .section
      %h3 Nodes in this class
      - if @node_class.nodes.present?
        = render 'nodes/nodes', :nodes => @node_class.nodes
      - else
        &mdash; No nodes assigned to this class &mdash;
