#sidebar= render 'shared/node_manager_sidebar'
#main
  .header
    %h2
      Class:
      = h @node_class.name
    %ul.actions
      - unless SETTINGS.enable_read_only_mode || session['ACCESS_CONTROL_ROLE'] == 'READ_ONLY'
        %li= link_to 'Edit', edit_node_class_path(@node_class), :class => "edit button"
        %li= link_to 'Delete', @node_class, :confirm => 'Are you sure?', :method => :delete, :class => "delete button"

  .item
    .section#error_messages{:style => "display: none;"}

    - unless @node_class.description.blank?
      .section.description= simple_format h(@node_class.description)

    - if @node_class.all_nodes.present?
      .section
        = render 'statuses/run_failure', :nodes => @node_class.all_nodes

    .section
      %h3 Groups referencing this class
      - if @node_class.node_group_children.present?
        %table.main
          %thead
            %tr
              %th.name{:style => 'width: 33%;'}
                Name
              %th.description
                Description
          %tbody
            - for node_group in @node_class.node_group_children
              %tr[node_group]
                %td.name
                  = link_to h(node_group.name), node_group
                %td.description
                  = node_group.description
      - else
        = describe_no_matches_for :groups, :class

    .section
      %h3 Nodes for this class
      - if @node_class.all_nodes.present?
        = render 'nodes/nodes', :nodes => @node_class.all_nodes, :container => @node_class
      - else
        = describe_no_matches_for :nodes, :class
      %br.clear
