= focus :user_login

.element.login
  = form.label :login
  = form.text_field :login
.element.password
  = form.label :password, form.object.new_record? ? nil : "Change password"
  = form.password_field :password
.element.password_confirmation
  = form.label :password_confirmation
  = form.password_field :password_confirmation
