%dl
  %dt Login:
  %dd= h @user.login
  %dt Login count:
  %dd= h @user.login_count
  %dt Last request at:
  %dd= h @user.last_request_at
  %dt Last login at:
  %dd= h @user.last_login_at
  %dt Current login at:
  %dd= h @user.current_login_at
  %dt Last login ip:
  %dd= h @user.last_login_ip
  %dt Current login ip:
  %dd= h @user.current_login_ip

= link_to 'Edit', edit_account_path
