.topbar
  .topbar-inner
    .container
      %ul#global-navigation.navigation
        %li#logo
          - css = ["background-repeat: no-repeat", "text-indent: -9000px"]
          - css << "background-image: url('#{SETTINGS.custom_logo_url}')"
          - css << "height: #{SETTINGS.custom_logo_height}"
          - css << "width: #{SETTINGS.custom_logo_width}"
          %a{:href => root_path, :title => SETTINGS.custom_logo_alt_text, :style => css.join('; ')} Puppet Dashboard
        %li#dashboard-version{:class => active_if(request.url == release_notes_url)}
          = link_to APP_VERSION, APP_VERSION_LINK
        %li#navigation-home{:class => active_if(request.url == root_url)}
          = link_to "Home", root_path
        %li#navigation-nodes{:class => active_if(controller_name == "nodes" && action_name == "index")}
          = link_to "Nodes", nodes_path
        %li#navigation-groups{:class => active_if(controller_name == "node_groups")}
          = link_to "Groups", node_groups_path
        - if SETTINGS.use_external_node_classification
          %li#navigation-classes{:class => active_if(controller_name == "node_classes")}
            = link_to "Classes", node_classes_path
        %li#navigation-reports{:class => active_if(controller_name == "reports" && action_name == "index")}
          = link_to "Reports", reports_path
        %li#navigation-file-search{:class => active_if(controller_name == "reports" && action_name == "search")}
          = link_to "File Search", search_reports_path
        - if SETTINGS.enable_inventory_service
          %li#navigation-inventory-search{:class => active_if(controller_name == "nodes" && action_name == "search")}
            = link_to "Inventory Search", search_nodes_path
        - Registry.each_callback :core, :global_nav_widgets do |callback|
          = callback.call self
