%ul#global-navigation.navigation
  %li= tab_to_unless_current "Dashboard", root_path
  %li= tab_to_unless_current "Nodes", nodes_path
  %li= tab_to_unless_current "Node Classes", node_classes_path
  %li= tab_to_unless_current "Node Groups", node_groups_path
  %li= tab_to_unless_current "Reports", reports_path
