%table.inspector
  - if options[:caption]
    %caption= options[:caption]
  %thead
    %tr
      %th.key= key.titleize
      - unless options[:key_only]
        %th.value{:colspan => 2}= value.titleize
  %tbody
    - inspector.each do |key, value|
      %tr
        %td.key= key
        - unless options[:key_only]
          %td{:colspan => 2}= value
