%table.inspector
  - if options[:caption]
    %caption= options[:caption]
  %thead
    %tr
      %th.key= (options[:key_title] || key).to_s.titleize
      - unless options[:key_only]
        %th.value{:colspan => 2}= (options[:value_title] || value).to_s.titleize
  %tbody
    - inspector.each do |key, value|
      %tr
        %td.key= key
        - unless options[:key_only]
          %td{:colspan => 2}= value
