.group
  %h3{:class => active_if(controller_name == "nodes" && action_name == "index")}= link_to "Nodes", nodes_path
  %span.count= Node.unhidden.count
  %ul
    - Node.possible_statuses.each do |status|
      %li{:class => active_if(controller_name == 'nodes' && action_name == status && parent.nil?)}
        = link_to status.capitalize, eval("#{status}_nodes_path")
        - count = Node.send(status).unhidden.count
        %span.count{:class => counter_class(count, true)}= count
    %li{:class => active_if(controller_name == 'nodes' && action_name == 'unreported' && parent.nil?)}
      = link_to "Never reported", unreported_nodes_path
      - count = Node.unreported.unhidden.count
      %span.count{:class => counter_class(count, true)}= count
    %li{:class => active_if(controller_name == 'nodes' && action_name == 'hidden' && parent.nil?)}
      = link_to "Hidden", hidden_nodes_path
      - count = Node.hidden.count
      %span.count{:class => counter_class(count, false)}= count
    %li
      = link_to "File Search", search_reports_path
    - if SETTINGS.enable_inventory_service
      %li
        = link_to "Custom query", search_nodes_path
  .footer.actionbar
    - if SETTINGS.use_external_node_classification && !SETTINGS.enable_read_only_mode
      = link_to "Add node", new_node_path, :class => 'button'

- if SETTINGS.use_external_node_classification
  - for type in [NodeClass, NodeGroup]
    = render "shared/node_manager_sidebar_for_type", :type => type
