- nodes       = local_assigns[:nodes]
- title       = local_assigns[:title]
- class_name  = local_assigns[:class_name] || title[/\w*/].downcase

%tr{:class => class_name}
  %td.count
    %span= nodes.length
  %td
    %span.label= title
    %em= "#{percentage(nodes)}%"
    %br/
    %hr{:style => "width: #{percentage(nodes)}%"}
