#main.full
  .header
    %h2 Dashboard
  .item
    - unless @failed_nodes.empty?
      .section.error
        %h3 Node Failures
        %p
          = pluralize @failed_nodes.length, 'node'
          are reporting failures:
          = succeed '.' do
            = truncated_node_sentence(@failed_nodes, :more_link => failed_nodes_path)

    - unless @unreported_nodes.empty?
      .section.warning
        %h3 Unreported Nodes
        %p
          = pluralize @unreported_nodes.length, 'node'
          = @unreported_nodes.length == 1 ? 'has' : 'have'
          not yet reported:
          = succeed '.' do
            = truncated_node_sentence(@unreported_nodes, :more_link => unreported_nodes_path)

    .section
      %h3
        Daily Run Status
      = render 'statuses/run_failure', :statuses => @statuses

    .section
      %h3 Recently Reported Nodes
      = render 'nodes/nodes', :nodes => @nodes
