#main.full
  .header
    %h2 Dashboard
  #item
    - unless @failed_nodes.empty?
      .section.error
        %h3 Node Failures
        %p
          = pluralize @failed_nodes.length, 'Node'
          are reporting failures:
          = succeed '.' do
            = @failed_nodes.map{|node| link_to node.name, node}.to_sentence
          You can also 
          = succeed '.' do
            = link_to "see the list", failed_nodes_path

    .section
      %h3 Run Time
      = render 'statuses/run_time', :reports => @reports

    .section
      %h3 Recent Node Reports
      = render 'nodes/nodes', :nodes => @nodes
