- tab_statuses = Node.possible_derived_statuses.unshift("all")
#sidebar= render 'shared/node_manager_sidebar'
#main
  .item
    - if @all_nodes.empty?
      .section
        %p There are no nodes known by Dashboard.
    .section
      = render 'statuses/run_failure', :nodes => @all_nodes
  .item
    %ul#home-tabs.tabbed
      - tab_statuses.each do |tab_status|
        %li(id="#{tab_status}-tab")
          %a{:href => "#"}= h tab_status.humanize
    - tab_statuses.each do |tab_status|
      %div.panel(id = tab_status)
        = render 'nodes/nodes',
          :nodes           => instance_variable_get("@#{tab_status}_nodes"),
          :selected_status => tab_status,
          :more_link       => url_for(:controller => "nodes", :action => tab_status == "all" ? :index : tab_status, :page => 2)
