%table.inspector
  %caption Nodes
  %thead
    %tr
      %th.name
        Name
      %th.environment Environment
      %th.last_report Last Report
      %th.last_update Last Updated
  %tbody
    - @nodes.each do |node|
      %tr[node]{:class => "#{'active' if node == @node} #{node.last_report && node.last_report.status}"}
        %td.name
          = link_to h(node.name), node
        %td.environment= node.environment
        %td.last_report
          - if node.reported_at
            %span.icon{:class => node.last_report.status}
              %span== (#{node.last_report.status})
            = link_to time_ago_in_words(node.reported_at) + ' ago', node.last_report
          - else
            None
        %td.last_updates
          = time_ago_in_words node.updated_at
          ago

- content_for :secondary_content do
  %h2 Activity
  %ol.timeline= render @timeline_events
