-# FIXME Is anything using this partial?
.report.grouping
  %h2= h report.time

  .section
    %h3 Metrics
    - report.metrics.each do |name, metric|
      %table.inspector
        %caption= h name.capitalize
        = render metric

  .section
    %h3 Log
    %table.inspector
      %thead
        %tr
          %th{:scope => :col} Level
          %th{:scope => :col} Message
          %th{:scope => :col} Source
          %th{:scope => :col} Time
      %tbody
        = render report.logs

  .section
    %pre= h report.pretty_inspect
