- subject = timeline_event.subject
- secondary = timeline_event.secondary_subject

- primary = secondary || subject
- primary_class = primary.class.name

%li
  %span.type{:class => "#{primary_class.downcase} type"}
    %span= primary_class.titleize
  = link_to_unless secondary, subject.name.capitalize, primary
  was
  = timeline_event.event_type.tr('_', ' ')
  = link_to "#{secondary.class.name} #{secondary.name}", secondary if secondary
  = time_ago_in_words(timeline_event.created_at)
  ago.
