%li
  %span.type{:class => "#{timeline_event.subject.class.name.downcase} type"}
    %span== #{timeline_event.subject.class.name.titleize}
  = link_to_if timeline_event.subject, "#{timeline_event.subject.name}", timeline_event.subject
  was
  = timeline_event.event_type.tr('_', ' ')
  - if secondary = timeline_event.secondary_subject
    == #{secondary.class.name.downcase} #{link_to secondary.name, secondary}
  = time_ago_in_words(timeline_event.created_at)
  ago.
