- resource = false unless defined?(resource)
- te = timeline_event
- subject = te.subject
- subject_name = te.subject_type
- subject_name = "This #{subject_name.downcase}" if subject && subject == resource
- subject_name = "A #{subject_name.downcase}" unless subject
- secondary = te.secondary_subject

- primary = secondary || subject
- primary_class = te.secondary_subject_type || te.subject_type

%li
  %span.type{:class => "#{primary_class.downcase} type"}
    %span= primary_class.titleize
  = link_to_unless secondary || resource == subject, subject_name, primary
  was
  = te.event_type.tr('_', ' ')
  - if secondary
    - secondary_name = resource == secondary ? "this #{secondary.class.name.downcase}" : "#{secondary.class.name} #{secondary.name.capitalize}"
    = link_to_unless resource == secondary, secondary_name, secondary
  = time_ago_in_words(te.created_at)
  ago.
