%p
  == #{timeline_event.subject.class.name.titleize}
  = link_to_if timeline_event.subject, "#{timeline_event.subject.name}", timeline_event.subject
  was
  = timeline_event.event_type.to_s.split('_').first
  = time_ago_in_words(timeline_event.created_at)
  ago.
