= focus :node_group_name

= header_for(form)

.item
  = render :partial => 'shared/form_errors', :collection => form.object.errors

  .element
    = form.label :name
    = form.text_field :name, :placeholder => "Group name"

  - if SETTINGS.use_external_node_classification
    .element
      = render :partial => 'parameters/parameter_input', :object => form.object.parameters

    = render :partial => 'shared/tokenized_text_box',
      :locals => { :model => 'node_class', :title => 'Classes', :source => 'node_group' }

  - {'node_group' => 'Groups', 'node' => 'Nodes'}.each do |model, title|
    = render :partial => 'shared/tokenized_text_box',
      :locals => { :model => model, :title => title, :source => 'node_group' }

  %script#tokenizer{:type => "text/javascript"}= tokenize_input_class(@class_data, @group_data, @node_data)
