.header.element
  = form.label :name
  = form.text_field :name

.element.node-group-parameters
  %label Parameters
  = link_to_function('<span class="indicator"></span> Add new', :class => "add button") { |page|  page.insert_html :bottom, 'parameters', :partial => 'parameter_input', :object => [] }
  
  %table#parameters.inspector
    %thead
      %tr
        %th.key Key
        %th.value Value
    %tbody
      - if form.object.parameters.blank?
        = render :partial => 'parameter_input', :object => []
      - else
        = render :partial => 'parameter_input', :collection => form.object.parameters.to_a + [[]]
