= focus :node_group_name

= header_for(form)

.item
  = form.error_messages

  .element
    = form.label :name
    = form.text_field :name, :placeholder => "Group name"

  - if SETTINGS.use_external_node_classification
    .element
      %h3 Parameters
      %table#parameters.inspector
        %thead
          %tr
            %th.key Key
            %th.value Value
        %tbody
          - if form.object.parameters.blank?
            = render :partial => 'parameters/parameter_input', :object => form.object.parameters.build
          - else
            = render :partial => 'parameters/parameter_input', :collection => form.object.parameters
        %tfoot
          %tr
            %td{:colspan => 2}
              = link_to_function("Add parameter", :class => "add button") { |page|  page.insert_html :bottom, 'parameters', :partial => 'parameters/parameter_input', :object => form.object.parameters.build }
    .element.node_classes
      = label_tag 'Classes'
      = text_field_tag 'node_group[node_class_ids][]', '', :id => 'node_class_ids'

  .element.node_groups
    = label_tag 'Groups'
    = text_field_tag 'node_group[node_group_ids][]', '', :id => 'node_group_ids'

  .element.nodes
    = label_tag 'Nodes'
    = text_field_tag 'node_group[node_ids][]', '', :id => 'node_ids'

  %script#tokenizer{:type => "text/javascript"}= tokenize_input_class(@class_data, @group_data, @node_data)
