= javascript_include_tag 'ajax_helper', :cache => 'ajax_form_support'
#sidebar= render 'shared/node_manager_sidebar'
#main
  = form_for @node_group, :url => url_for(@node_group), :html => {:id => "param_form"} do |f|
    %input{:id => "force_update", :name => "force_update", :type => "hidden", :value => "false"}
    = render f
    .element.actions
      %button{:id => "submit_button"} Update
      or
      = link_to 'Cancel', @node_group
  %script{:type=>"text/javascript"}
    register_ajax_submit("#param_form");
