%h2
  Node Groups
    
.table-tools
  %form
    %input{:type => "text"}
  = link_to "<span class='indicator'></span>Add new", new_node_group_path, :class => "new button", :rel => 'inspect'
%table.inspector
  %thead
    %tr
      %th
        Name
      %th
        Params
      %th
        Classes
      %th
        Nodes
  %tbody
    - @node_groups.each do |node_group|
      %tr
        %td.name
          = link_to h(node_group.name), node_group, :rel => 'inspect'
        %td
          = node_group.node_classes.size
        %td
          = node_group.node_classes.size
        %td
          = node_group.node_classes.size
      
