#sidebar= render 'shared/node_manager_sidebar'
#main
  .header
    %h2.half
      Groups
      = describe_search_if_present
    = render 'shared/search' if action_name == "index"
    %br.clear

  .item
    - if @node_groups.present?
      %table.main
        %thead
          %tr
            %th.name{:style => 'width: 33%;'}
              Name
            %th.description
              Description
        %tbody
          - for node_group in @node_groups
            %tr[node_group]
              %td.name
                = link_to h(node_group.name), node_group
              %td.description
                = node_group.description
        %tfoot
          %tr
            %td{:colspan => 2}
              = pagination_for @node_groups
    - else
      %p
        = describe_no_matches_for :groups

    %br.clear
