#sidebar= render 'shared/node_manager_sidebar'
#main
  .header
    %h2.half
      Groups
      = describe_search_if_present
    = render 'shared/search' if action_name == "index"
    %br.clear

  %table.main
    %thead
      %tr
        -# %th.check
          -# = check_box_tag "check_all"
        %th.name
          Name
    - if @node_groups.present?
      %tbody
        - for node_group in @node_groups
          %tr[node_group]
            -# %td.check
              -# = check_box_tag "check_all"
            %td.name
              = link_to h(node_group.name), node_group
      %tfoot
        %tr
          %td= pagination_for @node_groups
    - else
      %tbody
        %tr
          %td
            = describe_no_matches_for :groups
