#sidebar= render 'shared/node_manager_sidebar'
#main
  .header
    %h2.half Groups
    = render 'shared/search' if action_name == "index"
    %div{:style => 'clear:both;'}

  %table.main
    %thead
      %tr
        %th.check
          = check_box_tag "check_all"
        %th.name
          Name
    %tbody
      - @node_groups.each do |n|
        %tr[n]
          %td.check
            = check_box_tag "check_all"
          %td.name
            = link_to h(n.name), n
  = pagination_for @node_groups
