%h2
  Node Groups
    
.table-tools
  - form_tag do
    = text_field_tag :search, '', :class => 'filter-list', :autocomplete => 'off', :type => "search"
  = link_to "<span class='indicator'></span>Add new", new_node_group_path, :class => "add button", :rel => 'inspect'
%table.inspector
  %thead
    %tr
      %th.name
        Name
      %th.params
        Params
      %th.classes
        Classes
      %th.nodes
        Nodes
  %tbody
    - @node_groups.each do |node_group|
      %tr[node_group]
        %td.name
          = link_to h(node_group.name), node_group, :rel => 'inspect'
        %td.params
          = node_group.parameters.size
        %td.classes
          = node_group.node_classes.size
        %td.nodes
          = node_group.nodes.size
      
