.header
  %h2= @node_group.name
  %ul.actions
    %li= link_to 'Edit', edit_node_group_path(@node_group), :class => "edit button", :rel => 'inspect'
    %li= link_to 'Destroy', @node_group, :confirm => 'Are you sure?', :method => :delete, :class => "delete button"


- unless @node_group.parameters.blank?
  %h3 
    Parameters
    %span.count==(#{@node_group.parameters.size})
  

  %table.inspector
    %thead
      %tr
        %th.key Key
        %th.value Value
    %tbody
      - @node_group.parameters.each_pair do |key, value|
        %tr
          %td.key== #{key}
          %td.value= value


- unless @node_group.node_classes.blank?
  %h3 
    Classes
    %span.count= @node_group.node_classes.size

  %table.inspector
    %thead
      %th Class
    %tbody
      - @node_group.node_classes.each do |node_class|
        %tr
          %td= link_to h(node_class.name), node_class


- unless @node_group.nodes.blank?
  %h3 
    Members of this group
    %span.count==(#{@node_group.nodes.size})
  = render @node_group.nodes


