#sidebar= render 'shared/node_manager_sidebar'
#main
  .header
    %h2
      Group:
      = @node_group.name
    %ul.actions
      - unless SETTINGS.enable_read_only_mode
        %li= link_to 'Edit', edit_node_group_path(@node_group), :class => "edit button", :rel => 'inspect'
        %li= link_to 'Destroy', @node_group, :confirm => 'Are you sure?', :method => :delete, :class => "delete button"

  .item
    = render 'shared/parameters', :resource => @node_group
    = render 'shared/groups', :resource => @node_group
    = render 'shared/classes', :resource => @node_group

    .section.half
      %h3 Derived groups
      - unless @node_group.node_group_children_with_sources.empty?
        %table.inspector
          %thead
            %tr
              %th Group
              %th Source
          %tbody
            - @node_group.node_group_children_with_sources.sort.each do |group,sources|
              %tr
                %td
                  %strong= link_to(group.name,group)
                %td
                  - if sources.include?(@node_group)
                    = group.name
                  - else
                    = sources.map{|p| link_to(p.name,p)}.join(", ")
      - else
        = describe_no_matches_as 'No child groups'
  .item
    - if @node_group.all_nodes.present?
      .section
        = render 'statuses/run_failure', :nodes => @node_group.all_nodes
  .item
    .section
      .header
        %h2 Nodes for this group
      - Registry.each_hook :core, :node_group_view_widgets do |thing|
        = thing.call self, @node_group
      - if @node_group.all_nodes.present?
        = render 'nodes/nodes', :nodes => @node_group.all_nodes, :container => @node_group
      - else
        = describe_no_matches_for :nodes, :group
