#sidebar= render 'shared/node_manager_sidebar'
#main
  .header
    %h2
      Group:
      = @node_group.name
    %ul.actions
      - unless SETTINGS.enable_read_only_mode
        %li= link_to 'Edit', edit_node_group_path(@node_group), :class => "edit button", :rel => 'inspect'
        %li= link_to 'Destroy', @node_group, :confirm => 'Are you sure?', :method => :delete, :class => "delete button"

  .item
    = render 'shared/parameters', :resource => @node_group
    = render 'shared/groups', :resource => @node_group
    = render 'shared/classes', :resource => @node_group

    .section.half
      %h3 Derived groups
      - unless @node_group.node_group_children_with_sources.empty?
        %table.inspector
          %thead
            %tr
              %th Group
              %th Source
          %tbody
            - @node_group.node_group_children_with_sources.sort.each do |group,sources|
              %tr
                %td
                  %strong= link_to(group.name,group)
                %td
                  - if sources.include?(@node_group)
                    = group.name
                  - else
                    = sources.map{|p| link_to(p.name,p)}.join(", ")
      - else
        = describe_no_matches_as 'No child groups'
  .item
    - if @node_group.all_nodes.present?
      .section
        = render 'statuses/run_failure', :nodes => @node_group.all_nodes
  .item
    .section
      .header
        %h2 Nodes for this group
      - if Report.baselines.any?
        %h3= "Compare with:"
        - form_tag({:id => @node_group, :action => "diff"}, :id => "baseline_compare", :method => :get) do
          %p
            = radio_button_tag "baseline_type", "self", true
            = label_tag "baseline_type_self", "nodes' own baselines", :class => "inline"
            %br
            = radio_button_tag "baseline_type", "other"
            = label_tag "baseline_type_other", "specific baseline:", :class => "inline"
            = text_field_tag("baseline_host")
            = link_to_function('Compare', "jQuery('#baseline_compare').submit()", :class => "button")
        %script{:type => 'text/javascript'}
          \jQuery('#baseline_host').autocomplete({
          \  source: '#{baselines_reports_path :limit => 20, :format => :json}',
          \  minLength: 0,
          \  select: function(event, ui) {
          \    jQuery('#baseline_type_other').attr('checked', true)
          \  }
          \});
          \jQuery('#baseline_host').click(function() {
          \  jQuery('#baseline_host').autocomplete('search');
          \});
      - if @node_group.all_nodes.present?
        = render 'nodes/nodes', :nodes => @node_group.all_nodes, :container => @node_group
      - else
        = describe_no_matches_for :nodes, :group
