#sidebar= render 'shared/node_manager_sidebar'
#main
  .header
    %h2= @node_group.name
    %ul.actions
      %li= link_to 'Edit', edit_node_group_path(@node_group), :class => "edit button", :rel => 'inspect'
      %li= link_to 'Destroy', @node_group, :confirm => 'Are you sure?', :method => :delete, :class => "delete button"

  .item
    .section
      %h3 Parameters
      - unless @node_group.parameters.blank?
        = inspector_table @node_group.parameters.to_hash
      - else
        &mdash; No parameters &mdash;

    .section.half
      %h3 Inherited groups
      - unless @node_group.node_groups.blank?
        = inspector_table @node_group.node_groups, :name, false, :link => true
      - else
        &mdash; No groups &mdash;

    .section.half
      %h3 Classes
      - unless @node_group.node_classes.blank?
        = inspector_table @node_group.node_classes, :name, false, :link => true
      - else
        &mdash; No classes &mdash;

  .item
    - if @node_group.nodes.present?
      .section
        = render 'statuses/run_failure', :nodes => @node_group.nodes
    .section
      %h3 Nodes for this group
      = render 'nodes/nodes', :nodes => @node_group.nodes
