- content_for :primary_content do
  = render 'collection'

.header
  %h2= @node_group.name
  %ul.actions
    %li= link_to 'Edit', edit_node_group_path(@node_group), :class => "edit button", :rel => 'inspect'
    %li= link_to 'Destroy', @node_group, :confirm => 'Are you sure?', :method => :delete, :class => "delete button"


- unless @node_group.parameters.blank?
  %h3 
    Parameters
    %span.count==(#{@node_group.parameters.size})

  = inspector_table @node_group.parameters

- unless @node_group.node_classes.blank?
  %h3 
    Classes
    %span.count= @node_group.node_classes.size

  = inspector_table @node_group.node_classes, :name, :description

- unless @node_group.nodes.blank?
  %h3 
    Members of this group
    %span.count==(#{@node_group.nodes.size})

  = inspector_table @node_group.nodes, :name, :description


