= header_for(form)

.item
  .section
    = h form.error_messages

    %h3 Assigned To Node Group:
    = link_to @node_group.name, node_path(@node_group)

  .section
    .element
      %h3 Parameters
      %table#parameters.inspector
        %tbody
          - if form.object.parameters.blank?
            = render :partial => 'parameters/parameter_input', :object => form.object.parameters.build
          - else
            = render :partial => 'parameters/parameter_input', :collection => form.object.parameters
        %tfoot
          %tr
            %td{:colspan => 2}
              = link_to_function("Add parameter", :class => "add button") { |page|  page.insert_html :bottom, 'parameters', :partial => 'parameters/parameter_input', :object => form.object.parameters.build }
