- form_for @user_session, :url => user_session_path do |f|
  %h2 Sign In to Puppet Node Manager

  .element
    = f.error_messages
  .element
    = f.label :login
    = f.text_field :login
  .element
    = f.label :password
    = f.password_field :password
  .element
    = f.check_box :remember_me, :class => 'inline'
    = f.label :remember_me, "Remember Me", :class => 'inline'
  .element.buttons
    = f.submit "Sign In", :class => "button"
    or
    = link_to "Sign Up", new_account_path
