- show_expand_all_link ||= false
.header
  %h4
    Comparing
    = render 'reports/report_title', :report => my_report
    %br
    against baseline
    = render 'reports/report_title', :report => baseline_report
.item
  %h4
    = pluralize(resource_statuses[:failure].length, 'Mismatch')
    - if resource_statuses[:failure].present? && show_expand_all_link
      %a{ :href => '#', :class => 'expand-all' } (expand all)
  - if resource_statuses[:failure].present?
    %dl#baseline-diff-report
      - resource_statuses[:failure].each_with_index do |resource, index|
        %dt{:class => cycle( 'odd', 'even' )}
          %div.baseline-diff-item
            = link_to h(resource), {}, {:class => 'expandable-link collapsed-link', :id => "expand-#{index}"}
        %dd.expandable.collapsed{:id => "expandable-#{index}"}
          %table
            %tr
              %th Property
              %th Actual
              %th Baseline
            - diff[ resource ].each do |property, expected_actual|
              %tr
                - baseline, actual = expected_actual
                %td= h property
                %td= popup_md5s( h actual )
                %td= popup_md5s( h baseline )
                - if SETTINGS.use_file_bucket_diffs and resource =~ /^File\[/ and property == :content and actual =~ /^\{md5\}/ and baseline =~ /^\{md5\}/
                  %td
                    = link_to_function 'Show diff', "display_file_popup('#{url_for :controller => :files, :action => :diff, :file1 => baseline.sub('{md5}',''), :file2 => actual.sub('{md5}','')}')"
  %h4= pluralize(resource_statuses[:pass].length, 'Match')
  - if resource_statuses[:pass].present?
    %dl#baseline-diff-report
      - resource_statuses[:pass].each do |resource|
        %dt{:class => cycle( 'odd', 'even' )}
          %span{:class => 'non-expandable-bullet'}= h(resource)
