.header
  %h2
    %span.status{:class => report.status}
      = report_status_icon(report)
      Report:
      = report.time
    - if report.node
      %span.alt for
      = link_to report.node.name, report.node
  %ul.actions
    %li= link_to 'Destroy', @report, :confirm => 'Are you sure?', :method => :delete, :class => "delete button"

.item
  - if report.resource_statuses.present?
    .section
      %h3 Events
      .section
        %table.inspector#events
          %thead
            %tr
              %th Name
              %th Property
              %th Message
              %th File
              %th Line
          %tbody
            - report.resource_statuses.sort_by(&:time).each do |status|
              - if status.events.empty?
                %tr
                  %td= status.name
                  %td
                  %td
                  %td= wrap_on_slashes(status.file)
                  %td= status.line
              - else
                - status.events.each do |event|
                  %tr{:class => "status #{event.status}"}
                    %td= status.name
                    %td= event.property
                    %td= event.message
                    %td= status.file
                    %td= status.line
  .section
    %h3 Log
    .section
      %table.inspector
        %thead
          %tr
            %th Level
            %th Message
            %th Source
            %th File
            %th Line
            %th Time
        %tbody
          - if report.logs.present?
            = render :partial => 'puppet/util/logs/log', :collection => puppet_log_sorter(report.logs.compact)
          - else
            %td.empty{:colspan => 6}
              = describe_no_matches_for 'log messages', :report
  .section
    %h3 Metrics
    - if report.metrics.present?
      - report.metrics.group_by(&:category).sort.each do |category, metrics_in_category|
        .section
          %h4= category.titleize
          %table.inspector
            = render :partial => 'metrics/metrics_table', :locals => {:metrics => metrics_in_category}
    - else
      &mdash; No metrics in this report &mdash;
