.header
  %h2
    = render 'report_title', :report => report
  - unless SETTINGS.enable_read_only_mode
    %ul.actions
      - Registry.each_callback :report, :actions do |thing|
        = thing.call self, report
      %li= link_to 'Destroy', report, :confirm => 'Are you sure?', :method => :delete, :class => "delete button"

.item
  - user_facing = { '600_resource_statuses' => 'Events', '700_log' => 'Log', '800_metrics' => 'Metrics' }
  - panels = []
  %ul#report-tabs
    - Registry.each_callback :core, :report_view_widgets do |name, widget|
      - panels << capture_haml do
        %div(id="#{user_facing[name].downcase}")
          = widget.call self, report
      %li
        %a{ :href => "##{user_facing[name].downcase}" }
          = user_facing[name]
  = panels
