.header
  %h2
    %span.status{:class => report.status}
      = report_status_icon(report)
      = report.time.to_s(:long)
    - if report.node
      %span.alt for
      = link_to report.node.name, report.node
  %ul.actions
    %li= link_to 'Destroy', @report, :confirm => 'Are you sure?', :method => :delete, :class => "delete button"

.item
  .section
    %h3 Log
    .section
      %table.inspector
        %thead
          %tr
            %th Level
            %th Message
            %th Source
            %th Time
        %tbody
          = render :partial => 'puppet/util/logs/log', :collection => puppet_log_sorter(report.logs.compact)
  .section
    %h3 Metrics
    - if report.metrics
      - report.metrics.sort_by{|name, metric| name}.each do |name, metric|
        .section
          %h4= name.titleize
          %table.inspector
            = render metric
    - else
      &mdash; No metrics in this report &mdash;
