.header
  %h2
    = render :partial => 'report_title', :locals => { :report => report }
  - unless SETTINGS.enable_read_only_mode || session['ACCESS_CONTROL_ROLE'] == 'READ_ONLY'
    %ul.actions
      - Registry.each_callback :report, :actions do |thing|
        = thing.call self, report
      %li= link_to 'Delete', report, :data => {:confirm => 'Are you sure?'}, :method => :delete, :class => "delete button"

.item
  - user_facing = Hash.new { |hash, key| hash[key] = key[/[a-z].*/i].titleize }
  - user_facing.update '800_resource_statuses' => 'Events'
  - panels = []
  %ul#report-tabs.tabbed
    - Registry.each_callback :core, :report_view_widgets do |name, widget|
      - panel_id = user_facing[name].downcase
      - panels << capture_haml do
        %div.panel(id="#{panel_id}")
          = widget.call self, report
      %li(id="#{panel_id}-tab")
        %a(href= "##{panel_id}-tab")= h user_facing[name]
  - panels.each do |panel|
    = raw panel

- Registry.each_callback :report, :tail do |thing|
  = thing.call self, report
