.report.grouping
  %h2
    %span.status{:class => report.status}
      = report.time.to_s(:long)
    - if report.node
      %span.alt for
      = link_to report.node.name, report.node

  .section
    %h3 Metrics
    - report.metrics.each do |name, metric|
      %table.inspector
        %caption= name.titleize
        = render metric

  .section
    %h3 Log
    %table.inspector
      %thead
        %tr
          %th Level
          %th Message
          %th Source
          %th Time
      %tbody
        = render report.logs
