.header
  %h2
    = render 'report_title', :report => @my_report
    compared against 
    = render 'report_title', :report => @baseline_report
%table.inspector
  %thead
    %tr
      %th Resource
      %th Property
      %th Expected
      %th Actual
  %tbody
    - @diff.each do |resource, properties_hash|
      - properties_hash.each do |property, expected_actual|
        - expected, actual = expected_actual
        %tr
          %td{:id => h(resource)}= h resource
          %td= h property
          %td= h expected
          %td= h actual
