- tab_statuses = Node.possible_statuses.unshift("all")
#sidebar= render 'shared/node_manager_sidebar'
#main
  .header
    %h2
      Reports
      - if @node
        %span.alt for
        = link_to h(@node.name), @node
      %span.count== (#{@reports.total_entries})

  .item
    %ul#report-tabs.tabbed
      - tab_statuses.each do |tab_status|
        %li{:id => "#{tab_status}-tab", :class => (tab_status == @controller_action ? 'active' : '')  }
          %a{:href => "/reports/#{tab_status}"}= h tab_status.humanize
    = render 'reports/reports_table', :reports => @reports, :node => @node
