- reports = paginate_scope(@reports, :per_page => 20)

#main.full
  .header
    %h2
      Reports
      - if @node
        %span.alt for
        = link_to @node.name, @node
      %span.count== (#{reports.total_entries})

  .item
    %table.main
      %thead
        %tr
          %th.status
            &nbsp;
          %th Reported at &darr;
          - unless @node
            %th Host
          %th Total
          %th Failed
          %th Failed restarts
          %th Skipped
          %th Config retrieval
          %th Runtime
      %tbody
        - for report in reports
          %tr
            = report_status_td(report)
            %td= link_to report.time.to_s, report
            - unless @node
              %td= link_to_if report.node, report.host, report.node
            %td= report.total_resources
            %td= report.failed_resources
            %td= report.failed_restarts
            %td= report.skipped_resources
            %td= report.config_retrieval_time
            %td= report.total_time
      - if reports.total_pages > 1
        %tfoot
          %tr
            %td{:colspan => @node ? 10 : 9}
              = pagination_for(reports)
