%table.inspector.report
  %caption Reports
  %thead
    %tr
      %th Reported at
      %th Host
      %th Total
      %th Failed
      %th Failed restarts
      %th Skipped
      %th Config retrieval
      %th Runtime
  %tbody
    - @reports.each do |report|
      %tr
        %td
          %span.status{:class => report.status}= link_to report.time.to_s(:short), report
        %td= link_to_if report.node, report.host, report.node
        %td= report.metrics[:resources][:total]
        %td= report.metrics[:resources][:failed]
        %td= report.metrics[:resources][:failed_restarts]
        %td= report.metrics[:resources][:skipped]
        %td= "%0.2f" % report.metrics[:time][:config_retrieval]
        %td= "%0.2f" % report.metrics[:time][:total]
