#sidebar= render 'shared/node_manager_sidebar'
#main

  .header
    %h2
      Search Reports

  .item
    .section
      - form_tag url_for(:action => :search), :method => :get do
        = label_tag 'file_title', 'File title'
        = text_field_tag 'file_title', params[:file_title], :size => 100
        = label_tag 'file_content', 'File checksum'
        = text_field_tag 'file_content', params[:file_content], :size => 100
        = label_tag 'search_all_inspect_reports', 'Search all reports?'
        = check_box_tag 'search_all_inspect_reports', 'true', params[:search_all_inspect_reports]
        %br
        %button Search

    .section
      - if @files.nil?
        - # blank
      - elsif @files.empty?
        No matching files found.
      - else
        %table.inspector
          %thead
            %tr
              %th.status &nbsp;
              %th Time &darr;
              %th Host
              %th Filename
              %th Checksum
          %tbody
            - @files.each do |file|
              %tr
                = report_status_td(file.report)
                %td= link_to file.report.time, file.report
                %td= link_to h(file.report.host), file.report.node
                %td= file.title
                %td= file.events.find_by_property("content").previous_value rescue "not recorded"
            - if @files.total_pages > 1
              %tfoot
                %tr
                  %td{:colspan => 5}
                    = pagination_for(@files)
