!!!
%html{ :lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    - page_title = yield(:page_title)
    %title= [ page_title, 'Puppet Node Manager'].compact.reject(&:blank?).join(' - ')
    %link{ :href => "/favicon.ico", :rel => "shortcut icon" }
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

    :javascript
      var relative_url_root = '#{ActionController::Base.relative_url_root}';
      $.noConflict();

    - Registry.each_callback :core, :head_extensions do |widget|
      = widget.call self

  - add_body_class "#{controller.controller_name}_controller"
  - add_body_class "#{controller.controller_name}_#{controller.action_name}_action"
  - add_body_class "#{controller.controller_name}_form_action" if %w[new create edit update].include?(controller.action_name)
  - add_body_class "with-sidebar" unless @body_classes.include?('with-sidebar')
  %body{:class => @body_classes}
    #wrap
      #skiplinkholder
        = render 'shared/skiplink'
      #header
        = render 'shared/global_nav'
      #content
        - [:success, :warning, :failure, :notice, :alert].each do |type|
          - if message = flash[type]
            - type = :warning if type == :alert
            %div.section#flash{:class => type}
              .close= link_to_function icon(:close), "jQuery('#flash').hide()"
              %p
                = icon(type)
                = h message
        = yield
      #footer
        %p
          = link_to raw("&copy; Copyright #{Time.now.year} Puppet Labs"), 'http://puppetlabs.com/'
          &mdash;
          = link_to h(APP_VERSION), APP_VERSION_LINK
