!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    - page_title = yield(:page_title)
    %title= [ page_title, 'Puppet Node Manager'].compact.join(' - ')
    %link{ :href => "/images/favicon.ico", :rel => "shortcut icon" }
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    :javascript
      var relative_url_root = '#{ActionController::Base.relative_url_root}';
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag :all
    = stylesheet_link_tag 'reset', 'layout', 'application', 'header', 'forms', 'tables', 'jquery.ui.autocomplete.css', 'reports', 'typography', 'links', 'fcbkcomplete'
  %body
    #wrap
      #header
        = render :partial => 'shared/global_nav'
        = render :partial => 'shared/secondary_nav'
      #content
        = yield
      #footer
        %p &copy; Copyright 2009 Reductive Labs
