!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    - page_title = yield(:page_title)
    %title= [ page_title, 'Puppet Node Manager'].compact.join(' - ')
    %link{ :href => "/images/favicon.ico", :rel => "shortcut icon" }
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    = javascript_include_tag :all
    = stylesheet_link_tag :all
  %body
    #content
      #header
        %h1= link_to "Puppet Node Manager", root_path
        %ul#nav
          %li= link_to_unless_current "Nodes", nodes_path
          %li= link_to_unless_current "Node Classes", node_classes_path
          %li= link_to_unless_current "Node Groups", node_groups_path
      #main
        = yield
      #footer
        Copyright 2009 Reductive Labs
