!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    - page_title = yield(:page_title)
    %title= [ page_title, 'Puppet Node Manager'].compact.join(' - ')
    %link{ :href => "/images/favicon.ico", :rel => "shortcut icon" }
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    = javascript_include_tag :all
    = stylesheet_link_tag :all
  %body
    #puppet-node-manager
      #header
        .site-width
          %h1= link_to "Puppet Node Manager", root_path
          = render :partial => 'shared/global_nav'
          = render :partial => 'shared/secondary_nav'
          
      #content
        .site-width
          = yield
      #footer
        .site-width
          %p &copy; Copyright 2009 Reductive Labs
