!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    - page_title = yield(:page_title)
    %title= [ page_title, 'Puppet Node Manager'].compact.join(' - ')
    %link{ :href => "/images/favicon.ico", :rel => "shortcut icon" }
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }

    = javascript_include_tag 'jquery.min'
    :javascript
      var relative_url_root = '#{ActionController::Base.relative_url_root}';
      $.noConflict();

    = javascript_include_tag 'prototype'
    = javascript_include_tag "jrails" 
    = javascript_include_tag "fcbkcomplete" 

    = javascript_include_tag "excanvas.min" 
    = javascript_include_tag "raphael-min" 
    = javascript_include_tag "grafico.min" 
    = javascript_include_tag "jquery.form" 
    = javascript_include_tag "jquery.placeholders" 
    = javascript_include_tag "jquery.ui.autocomplete" 
    = javascript_include_tag "jquery.ui.autocomplete.ext" 
    = javascript_include_tag "jquery.tipsy" 
    = javascript_include_tag "search" 
    = javascript_include_tag "application" 

    = stylesheet_link_tag 'reset', 'layout', 'application', 'header', 'forms', 'tables', 'jquery.ui.autocomplete.css', 'typography', 'links', 'fcbkcomplete', 'tipsy'
  %body
    #wrap
      #header
        = render :partial => 'shared/global_nav'
        = render :partial => 'shared/secondary_nav'
      #content
        = yield
      #footer
        %p= link_to "&copy; Copyright #{Time.now.year} Puppet Labs", 'http://puppetlabs.com/'
