- parameters = parameter_input  # change silly partial-based variable name
- parameter_index = 0
- object_name = controller.controller_name.singularize
- form_prefix = form_prefix || "#{object_name}[parameter_attributes]"
- entity_name = entity_name || 'parameter'
- comparators = comparators || nil
- colspan = comparators ? 4 : 3
%h3= entity_name.capitalize.pluralize
%table#parameters.inspector
  %thead
    %tr
      %th.key{:scope => :col} Key
      - if comparators
        %th.comparator{:scope => :col}
      %th.value{:scope => :col} Value
      %th.actions{:scope => :col}
  %tfoot
    %tr
      %td{:colspan => colspan}
        %a.button.add{:href => '#',
          :onclick => "var cloned = jQuery('table#parameters tr.parameter').first().clone().appendTo('table#parameters tbody').show('fast'); cloned.find('input').val('').css('color', 'black'); cloned.find(':disabled').prop('disabled', false); set_parameter_index(cloned);".html_safe}
          = "Add #{entity_name}"

  %tbody
    - # non-visible row that we will clone for the Add Parameter button
    %tr.parameter{ :style => 'display: none;' }
      %td.key
        = text_field_tag "NEW_KEY", '', :placeholder => "key", :disabled => true
      - if comparators
        %td.comparator
          = select_tag "NEW_COMP", options_for_select(comparators), :disabled => true
      %td.value
        = text_field_tag "NEW_VALUE", '', :placeholder => "value", :disabled => true
      %td.actions
        %a.icon.delete{:href => '#',
          :onclick => "jQuery(this).parents('tr').remove()".html_safe}
          = "Remove #{entity_name}"

    - # existing parameters
    - parameters.each do |param|
      - parameter_index += 1
      %tr.parameter
        %td.key
          = text_field_tag "#{form_prefix}[][key]", param[:key], :placeholder => "key"
        - if comparators
          %td.comparator
            = select_tag "#{form_prefix}[][comparator]", options_for_select(comparators, param[:comparator])
        %td.value
          = text_field_tag "#{form_prefix}[][value]", param[:value], :placeholder => "value"
        %td.actions
          %a.icon.delete{:href => '#',
            :onclick => "jQuery(this).parents('tr').remove()".html_safe}
            = "Remove #{entity_name}"

    - # one blank row
    - parameter_index += 1
    %tr.parameter
      %td.key
        = text_field_tag "#{form_prefix}[][key]", '', :placeholder => "key"
      - if comparators
        %td.comparator
          = select_tag "#{form_prefix}[][comparator]", options_for_select(comparators)
      %td.value
        = text_field_tag "#{form_prefix}[][value]", '', :placeholder => "value"
      %td.actions
        %a.icon.delete{:href => '#',
          :onclick => "jQuery(this).parents('tr').remove()".html_safe}
          = "Remove #{entity_name}"
:javascript
  function set_parameter_index(param_tr) {
    var new_index = new Date().getTime();
    param_tr.find( jQuery("[name='NEW_KEY']") )
      .attr("id", "#{form_prefix.tr('[]', '_')}" + new_index + "_key")
      .attr("name", "#{form_prefix}[][key]");
    param_tr.find( jQuery("[name='NEW_COMP']") )
      .attr("id", "#{form_prefix.tr('[]', '_')}" + new_index + "_comparator")
      .attr("name", "#{form_prefix}[][comparator]");
    param_tr.find( jQuery("[name='NEW_VALUE']") )
      .attr("id", "#{form_prefix.tr('[]', '_')}" + new_index + "_value")
      .attr("name", "#{form_prefix}[][value]");
  }
