- parameter = parameter_input  # change silly partial-based variable name
- parameter_index = defined?(parameter_input_counter) ? (parameter_input_counter+1) : "UNIQUE_ID_PLACEHOLDER"
- object_name = params[:controller].singularize
%tr
  %td.key
    = text_field_tag "#{object_name}[parameter_attributes][#{parameter_index}][key]", parameter.key, :placeholder => "key"
  %td.value
    %div
      = text_field_tag "#{object_name}[parameter_attributes][#{parameter_index}][value]", parameter.value, :placeholder => "value"
      .popup-actions
        %a.icon.delete{:href => '#'}
          %span (delete)
:javascript
  if('#{parameter_index}' == 'UNIQUE_ID_PLACEHOLDER') {
    var new_index = new Date().getTime();
    jQuery("##{object_name}_parameter_attributes_#{parameter_index}_key").attr("id", "#{object_name}_parameter_attributes_" + new_index + "_key"); 
    jQuery("[name='#{object_name}[parameter_attributes][#{parameter_index}][key]']").attr("name", "#{object_name}[parameter_attributes][" + new_index + "][key]"); 
    jQuery("##{object_name}_parameter_attributes_#{parameter_index}_value").attr("id", "#{object_name}_parameter_attributes_" + new_index + "_value"); 
    jQuery("[name='#{object_name}[parameter_attributes][#{parameter_index}][value]']").attr("name", "#{object_name}[parameter_attributes][" + new_index + "][value]"); 
  }
